{% extends 'core/base.html'%}
{% load static %}
{% block content %}
<div class ="mt-5">
  <div class="text-center">
  <img src="{% static 'core/images/mani_ltts.jpg'%}" alt="Profilepic" class = "img-thumbnail" width="200px" height = "100px">
  </div>
  <div class="mt-5 text-white mx-5 text-justify">
    <h1 class = "font-weight-bold">Hello,</h1>
    <div class="px-4" style="line-height:2rem;">
      <p style="text-indent:100px;"> I am <b class="text-warning">Ailoni Mani Kumar</b> having 4 years of experience for global businesses, I offer the technical expertise you are seeking for your software developer position.

      </p>
      <p>Since earning my bachelor's degree in Kakatiya institute of technology and science, Warangal. I recently joined <b class="text-warning">L&T Technology Services</b> as Engineer. I have served as a software developer at <b class="text-warning">VLUMSOFT TECHNOLOGIES LLP</b>. In this position, I have led projects for clients in diverse industries including technology, manufacturing.</p>
    </div>
  </div>
  <div class = "text-center">
    <a href="" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
  <a href="" class="btn btn-outline-info my-3">Contact</a>
  </div>
</div>
{% endblock content %}