{% extends 'core/base.html' %}
{% block content %}
<div class = "container mt-5">
    <h1 class = "text-warning mb-5 border-bottom">SERVICES</h1>

    <div class="row text-white">
        <div class = "col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-color text-primary"></i>
            <h3 class="text-info">Web Development</h3>
            <p class="text-white"></p>
        </div>
        <div class = "col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-color text-primary"></i>
            <h3 class="text-info">Frontend Development</h3>
            <p class="text-white"></p>
        </div>
        <div class = "col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-color text-primary"></i>
            <h3 class="text-info">Backend Development</h3>
            <p class="text-white"></p>
        </div>
    </div>
    <br>
    <br>


    <div class="row text-white">
        <div class = "col-sm-4">
            <i class="fa-solid fa-database fa-2x mb-3 i-color text-primary"></i>
            <h3 class="text-info">Data base</h3>
            <p class="text-white"></p>
        </div>
        <div class = "col-sm-4">
            <i class="fa-solid fa-headset fa-2x mb-3 i-color text-primary"></i>
            <h3 class="text-info">Support</h3>
            <p class="text-white"></p>
        </div>
        
    </div>
</div>
{% endblock content %}